<aside class="sidenav">
    <nav class="sidenav-nav">
        <a href="/dashboard" class="nav-item"><span>Dashboard</span></a>
        <a href="/dashboard/students" class="nav-item"><span>Students</span></a>
        <a href="/dashboard/courses" class="nav-item"><span>Courses</span></a>
        <a href="/dashboard/subjects" class="nav-item"><span>Subjects</span></a>
        <a href="/dashboard/teachers" class="nav-item"><span>Teachers</span></a>
        <a href="/logout" class="nav-item"><span>Logout</span></a>
    </nav>
    </aside>